
/* checkbox */

.jcf-checkbox {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: default;
  background: #fff;
  border: 2px solid $green;
  border-radius:5px;
  margin: 0 3px 2px 0;
  height: 16px;
  width: 16px;
  -webkit-transition: border-color .2s ease;
  transition: border-color .2s ease;
}

.jcf-checkbox span {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  height: 7px;
  width: 10px;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -6px;
  border: 3px solid #777;
  border-width: 0 0 3px 3px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color .2s ease, opacity .2s ease, visibility .2s ease;
  transition: border-color .2s ease, opacity .2s ease, visibility .2s ease;
}

:root .jcf-checkbox span {
  margin: -4px 0 0 -5px;
}

.jcf-checkbox input[type="checkbox"] {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  left: 0;
  top: 0;
}

.jcf-checkbox.jcf-checked span {
  visibility: visible;
  opacity: 1;
}

/* file */

.jcf-file {
  border-radius:5px;
  display: inline-block;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  background: #fff;
}

.jcf-file .jcf-fake-input {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
  overflow: hidden;
  border-right: 1px solid #777;
  padding: 0 8px;
  font-size: 13px;
  line-height: 28px;
  height: 50px;
  width: 125px;
}

.jcf-file .jcf-upload-button {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 0 0 -1px;
  padding: 0 10px;
  line-height: 28px;
  height: 50px;
  background: $green;
}

/* select */

.jcf-select {
  border-radius:5px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  margin: 0 0 12px;
  min-width: 150px;
  width:100%;
  min-height:50px;
  padding: 10px;
  margin-bottom: 20px;
  color: $green;
  text-align: left;
}

.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0;
}

.jcf-select .jcf-select-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 13px;
  line-height: 26px;
  margin: 0 35px 0 8px;
}

.jcf-select .jcf-select-opener {
  border-radius:0 5px 5px 0;
  position: absolute;
  text-align: center;
  background: $green;
  width: 26px;
  bottom: 0;
  right: 0;
  top: 0;
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: "\ea43";
    font-family: 'icomoon' !important;
    font-size: 15px;
    color: $white;
    @include animate(color);
    &:hover {
      color: green;
    }
  }
}

body > .jcf-select-drop {
  position: absolute;
  margin: -1px 0 0;
  z-index: 9999;
}

body > .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0;
}

.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0px;
  z-index: 9999;
  top: 100%;
  left: -1px;
  right: -1px;
}

/* select options styles */

.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  line-height: 14px;
  font-size: 12px;
  width: 100%;
  border-radius:5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  width: 100%;
  border-radius:5px;
}

.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.jcf-list ul li {
  overflow: hidden;
  display: block;
}

.jcf-list .jcf-overflow {
  overflow: auto;
}

.jcf-list .jcf-option {
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  padding: 5px 9px;
  color: $green;
  min-height: 14px;
  height: 1%;
}

.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important;
}

.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
  background: $green;
  color: #000;
}

.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  font-weight: bold;
  display: block;
  padding: 5px 9px;
  cursor: default;
  color: #000;
}

.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}


.jcf-textarea .jcf-resize:before {
  border: 1px solid #000;
  border-width: 0 1px 1px 0;
  display: block;
  margin: 4px 0 0 3px;
  width: 6px;
  height: 6px;
  content: '';
}


/* common styles */

.jcf-disabled {
  background: #ddd !important;
}

.jcf-focus,
.jcf-focus * {
  border-color: #f00 !important;
}

/* label demo styles */

.jcf-label-active {
  font-weight: bold;
}


/* select demo styles */
.jcf-select-drop .jcf-option-hideme {
  display: none;
}

.jcf-select.jcf-select-present {
  line-height: 48px;
  height: 48px;
  background: #fff;
}

.jcf-select.jcf-select-present .jcf-select-text img {
  vertical-align: top;
  width: 32px;
  height: auto;
  margin: 7px 5px 0 0;
}

.jcf-select-present .jcf-select-text {
  line-height: 48px;
}

.jcf-select-present .jcf-list {
  font-style: italic;
  line-height: 48px;
}

.jcf-select-present .jcf-list img {
  vertical-align: middle;
  margin: 0 5px 0 0;
}

// new

input,
textarea,
select {
  border:0;
  outline:0;
  background: $white;
  color: $green;
  border-radius:5px;
}

input{
  width:100%;
  min-height:50px;
  padding: 10px;
  margin-bottom: 20px;
}

textarea {
  width:100%;
  padding: 10px;
  margin-bottom: 20px;

  @include media("<tablet") {
     max-width:380px;
     width:100%;
  }
}

.iput-holder {
  display:flex;

  justify-content:center;

  @include media("<=tablet") {
    flex-wrap: wrap;
  }

  .left-form {
    padding-right: 0;

    @include media(">=tablet") {
      padding-right:20px;
    }
  }
}

.left-form,
.right-form {
  max-width: 380px;

  @include media(">=tablet") {
    max-width:360px;
  }
}

.checkbox {
  padding-bottom:30px;
}

.check-holder {
  text-align:left;
  background: $white;
  border-radius:5px;
  padding: 10px;

  @include media("<tablet") {
    margin:0 auto;
    max-width:380px;
    width:100%;
  }
}