// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$gray: #272727;
$gray-bg: #3f4049;
$gray-border: #fc5f45;
$mine-shaft-title: #313131;
$abbey: #ccc;
$alabaster: #f7f7f7;
$dove-gray: #616161;
$alto: #e0e0e0;
$orange-bg: #fc5f45;
$orange: #fc5f45;
$orange-border: #fc5f45;
$light-gray: #5e6977;
$black: #000;
$white: #fff;
$white-bg: #fff;
$light-blue: #39f;
$green: #38c695;
$green-border: #38c695;
$purple: #b27cf5;
$purple-border: #b27cf5;
$yellow: #feb960;
$yellow-border: #feb960;
$swiss-coffee: #d3cccd;
$base-font-sans-serif: 'Poppins', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;
// This is the default html and body font-size for the base rem value.
$rem-base: 14px;

// Body
$base-text-color: $gray !default;
$base-background-color: $white !default;
$font-size-base: 14px !default;
$line-height-base: 28px !default;
$font-weight-base: 400 !default;
$base-font-family: $base-font-sans-serif !default;

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 320px;
$base-max-width: 1170px;

// Liks
$base-link-color: $gray !default;
$base-link-font-size: 14px !default;
$base-link-line-height: 20px !default;


// Buttons
$button-color: $white !default;
$btn-background: $orange-bg !default;
$btn-padding: 16px 43px !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $gray !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: #cfd1d2 !default;

// Headers
$h1-font-size: 40px !default;
$h1-line-height: 1.4 !default;

$h2-font-size: 30px !default;

$h3-font-size: 26px !default;

$h4-font-size: 21px !default;
$h5-font-size: 17px !default;
$h6-font-size: 15px !default;

$p-font-size: 14px !default;
$p-line-height: 24px !default;

$headings-font-family: 'Libre Baskerville', 'Times', 'Baskerville', 'Georgia', serif;;
$headings-color: $mine-shaft-title;


$animation-speed: 0.3s;




