

.header {
	position: relative;
	padding: 20px 0;

	.container{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.menu {
		text-align: right;
	}
}

.logo {
	width: 100%;
	max-width: 97px;

	@include media(">=tablet") {
		margin-left: 23px;
	}
}

.nav-opener {
	display: block;
	width: 45px;
	height: 35px;
	position: relative;
	cursor: pointer;

	@include media(">=desktop") {
		display: none;
	}

	span {
		display: block;
		position: absolute;
		height: 5px;
		width: 100%;
		background: #000;
		border-radius: 10px;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: .25s;
	}

	span:nth-child(1) {
		top: 0;
	}

	span:nth-child(2),
	span:nth-child(3) {
		top: 13px;
	}

	span:nth-child(4) {
		top: 26px;
	}
}


.nav {
	transform: scaleX(0);
	transition: transform .3s ease;
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
	margin-top: 60px;

	@include media(">=desktop") {
		transform: scaleX(1);
		position: static;
		margin-top: 0;
	}
}

.menu-links {
	background-color: rgba(0, 0, 0, 1);
	z-index: 1000;
	overflow: auto;
	padding:100px 15px;
	height: 100vh;

	display:flex;
	flex-direction: column;

	@include media(">=desktop") {
		flex-direction: row;
		margin: 0 -10px;
		background-color: inherit;
		height: auto;
		padding: 0;
	}
}

.menu-links-item {
	display: inline-block;
	font-weight: 500;
	padding: 0 11px;
	text-align: center;

	padding-bottom: 20px;

	@include media(">=desktop") {
		padding-bottom: 0;
	}

	a {
		color:$white;
		font-size: 20px;
		cursor: pointer;

		@include media(">=desktop") {
			color: $gray;
			font-size: $base-link-font-size;
		}

		&:hover{
			color: lighten($gray, 50%);
			@include animate(color)
		}
	}
}

.nav-active {
	.nav-opener {
		span:nth-child(1) {
			top: 18px;
			width: 0%;
			left: 50%;
		}

		span:nth-child(2) {
			transform: rotate(45deg);
		}

		span:nth-child(3) {
			transform: rotate(130deg);
		}

		span:nth-child(4) {
			top: 18px;
			width: 0%;
			left: 50%;
		}
	}

	.nav {
		transform: scaleX(1);
	}
}



